@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;700&family=Cormorant+Garamond:ital,wght@1,300&family=EB+Garamond:ital,wght@0,400;0,800;1,400&family=Inter:wght@400;600;700&family=Noto+Sans:wght@400;600;700&family=Roboto+Slab&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.app{
  display: flex;
  position: relative;
}
::-webkit-scrollbar{
  width: 10px;

}
/* track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}
/* handle */
::-webkit-scrollbar-thumb{
  background: #888;
}
/* handle on hover */
::-webkit-scrollbar-track:hover{
  background: #555;
}

